    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About the VirtualRDC</h2>
              <br/>

              <p>The VirtualRDC project has now ended.</p>
                <p>The primary purpose of the Cornell VirtualRDC was to provide access to synthetic data over the internet. The synthetic data are constructed to statistically approximate the data available within the secure and restricted access environment of the Census Bureau's Research Data Centers (RDCs), maintaining statistical integrity without compromising confidentiality. All data on the the VirtualRDC has been released for public access, and no confidential data are stored on the VirtualRDC.</p>
                <p>
                A secondary benefit was that researchers can learn how to work within the constraints of the physical Census RDCs before actually starting work at one of the physical locations, thus reducing the setup time. Besides synthetic datasets, dummy and fake internal-use datasets available in the Census RDC can be accessed and used, and programs written on the VirtualRDC should be 100% portable to the Census RDC, thus reducing development and travel time.</p>
                <br/>
              </div>
        </div>
    </section>
