<h2 class="section-heading">Session {% increment session_counter %}: {{ post.title }}{% if post.conference %} (at {{ post.conference }}){% endif %}</h2>

<div class="confdate"><i class="fa fa-calendar" aria-hidden="true"></i>{{ post.date }}{% if post.time %} **exceptionally** @ {{ post.time }}{% else %} @ {{ site.format_time }}{% endif %}</div>

<div class="confloc">
    
      {% if post.youtube %}
      <i class="fa fa-youtube" aria-hidden="true"></i><a href="{{ post.youtube }}" alt="Youtube link">View the recording</a>
      {% else %}
         {% if post.conference %}
           <i class="fa fa-map-marker" aria-hidden="true"></i>{{ post.conference }}
           {% if post.registrationurl %} (<a href="{{ post.registrationurl }}" alt="Registration link">Registration</a>) {% endif %}
        {% else %}
           {% if post.registrationurl %}<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Please <a href="{{ post.registrationurl }}" alt="Registration link">register to join us on Zoom.</a>
           {% else %}
           <i class="fa fa-map-marker" aria-hidden="true"></i>{{ site.format_format }}
           {% endif %} <!-- end non-conference condition -->
        {% endif %} <!-- end post.conference condition -->
      {% endif %} <!-- end youtube condition --></div>

    {% if post.panelists %}<div class="confpeople"><i class="fa fa-users" aria-hidden="true"></i>Panelists: 
      <div class="panelists"><ul>
    {% for tag in post.panelists %}
     <!-- {{ tag }} -->
      {% assign author = site.panelists | where: 'tag', tag | first %}
      {% if author %}
          <!-- {{ author }} -->
          <li>{% if author.url %}<a href="{{ author.url }}">{% endif %}{{ author.name }}{% if author.url %}</a>{% endif %} 
          ({{ author.affil }}){% endif %} 
          {% if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}"><i class="fa fa-twitter socialmediaicons" aria-hidden="true"></i></a>{% endif %}
          {% if author.linkedin %}<a href="{{ author.linkedin }}"><i class="fa fa-linkedin socialmediaicons" aria-hidden="true"></i></a>{% endif %}
        </li>
    {% endfor %}</ul></div></div>
    {% endif %} <!-- end panelists -->
    {% if post.moderator %}<div class="confpeople"><i class="fa fa-user" aria-hidden="true"></i>Moderator: 
      
        {% assign author = site.panelists | where: 'tag', post.moderator | first %}
          {% if author %}
              <!-- {{ author }} -->
              {% if author.url %}<a href="{{ author.url }}">{% endif %}{{ author.name }}{% if author.url %}</a>{% endif %} 
              ({{ author.affil }}) 
              {% if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}"><i class="fa fa-twitter socialmediaicons" aria-hidden="true"></i></a>{% endif %}
              {% if author.linkedin %}<a href="{{ author.linkedin }}"><i class="fa fa-linkedin socialmediaicons" aria-hidden="true"></i></a>{% endif %}
          {% endif %}
            
        </div>
      {% endif %}<!-- end moderator -->
    
